@charset "UTF-8";

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family: 'Oxygen', sans-serif !important;}
body,.body {font-family: 'Sumana', serif !important; line-height:normal !important}
.active {color:red;}
.gray {color:#6A6A6A;}
.subtitle {color:black !important;font-weight:bold;}
a {cursor:pointer;}
.page1 {
	background-image:url(../images/bgimg.png);
	background-color:white;
	background-size:cover;
	z-index:-5;
	height:100vh;
}

.page2 {
	background-color:#FFFFFF;
	z-index:-5;
	height:100vh;
}

.homelogo {
	width:50%;
	min-width:350px;
	margin-top:28vh;
}

.logo {
	width:250px;
	padding-top:15px;
	float:right;
}

#pageContainer {
	top:20px;
	position:relative;
}

.content {
	overflow:scroll;
	height:inherit;
}

.bottom {
	bottom:0px;
	position:fixed;
	cursor:pointer;
	/*width:inherit;*/
	background: -moz-linear-gradient(left, rgba(255,80,0,0) 0%, rgba(255,80,0,1) 2%, rgba(0,229,255,1) 98%, rgba(0,229,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,80,0,0) 0%,rgba(255,80,0,1) 2%,rgba(0,229,255,1) 98%,rgba(0,229,255,0) 100%);
	background: linear-gradient(to right, rgba(255,80,0,0) 0%,rgba(255,80,0,1) 2%,rgba(0,229,255,1) 98%,rgba(0,229,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff5000', endColorstr='#0000e5ff',GradientType=1 );
	/*
	background: #ff5000;
	background: -moz-linear-gradient(left, #ff5000 0%, #00e5ff 100%);
	background: -webkit-linear-gradient(left, #ff5000 0%,#00e5ff 100%);
	background: linear-gradient(to right, #ff5000 0%,#00e5ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5000', endColorstr='#00e5ff',GradientType=1 );
*/
}
.person {
	padding-top:40px;
	width:100%;
}

.f2black {
    background: -webkit-linear-gradient(white, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, black); /* Standard syntax */
}

.teampic {
	min-width:200px;
	width:200px;
}

.teamtable td {
	padding:10px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: red;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.profpic {
	width:40%;
	margin:auto;
	display:block;
}

.personDescription {
	display:none;
}