@charset "UTF-8";

h1,.h1 {font-family: 'Bungee Hairline', cursive !important;}
h2,h3,h5.h2,.h3,.h5 {font-family: 'Oxygen', sans-serif !important;}
h4,.h4 {font-family: 'Bungee Hairline', cursive !important;}
body,.body {font-family: 'Sumana', serif !important;}
.active {color:red;}
.gray {color:#6A6A6A;}
.subtitle {color:black !important;font-weight:bold;}

.page1 {
	/*background-image:url(../images/bg_img.jpg);*/
	background-color:white;
	background-size:cover;
	z-index:-5;
	height:100vh;
}

.page2 {
	background-color:#FFFFFF;
	z-index:-5;
	height:100vh;
}

.homelogo {
	width:50%;
	min-width:350px;
	margin-top:28vh;
}

.logo {
	width:250px;
	padding-top:15px;
	float:right;
}

#pageContainer {
	background-color:white;
	top:20px;
	position:relative;
}

.content {
	overflow:scroll;
	height:inherit;
}

.sidebar {
	overflow:scroll;
}

.bottom {
	bottom:0px;
	position:fixed;
	cursor:pointer;
}


